.cart-table {
  width: 100%;
  display: table;
}

.cart-row {
  display: table-row;
  text-align: center;
}

.cart-cell {
  padding: 0 10px 0 10px;
  width: 50%;
  display: table-cell;
}

.btn-black, .btn-black:hover {
  background-color: black;
  color: white;
}

.btn-red, .btn-red:hover {
  background-color: red;
  color: white;
}
