h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.review-highlight-title {
  font-size: large;
  font-weight: bold;
}

.review-highlight-hr {
  border-top: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
