.review-table {
  background-color: rgba(213, 213, 213, 0.3);
  width: 100%;
  display: table;
}

.review-table-row {
  display: table-row;
}

.review-table-cell {
  padding: 25px;
  width: 50%;
  display: table-cell;
}
