h2 {
  text-align: center;
}

.page-table {
  margin: 100px auto;
  width: 75%;
  display: table;
}

.page-table-row {
  display: table-row;
}

.page-table-cell {
  padding: 50px;
  display: table-cell;
}
